*{
    margin: 0;
}

body{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_Mob{
    /* need to debug why flex align center is not working hence used position relative */
    position: relative;
    top: 35px; 
    width: 400px;
    background-color: white;
}

img{
    max-width: 100%;
}

header{
    /* background-color: red; */
    padding: 1rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header input{
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
    width: 70%;
}

header button{
    padding: 10px;
}

.container_FavMeals{
    padding: 1rem;
    text-align: center;
    background-color: rgb(248, 233, 237);
}

.fav_meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Remove Bullets */
    list-style-type: none;
    padding: 0px; 
}

.fav_meals li{
    width: 85px;
}

.fav_meals li img{
    /* background-color: red; */
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /* object-fit: cover; */
    /* border: 0.5px solid black; */
}

.fav_meals li spam{
    padding: 5px 0;
    text-align: center;
    /* font-size: 0.9rem; */
}

.meals{
    /* background-color: tomato; */
}

.meal{
    margin: 10px;
    background-color: rgb(219, 219, 219);
}

.meal-header{
    position: relative;
}

.meal-header .random{
    position: absolute;
    top: 8px;
    background-color: tomato;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.meal-header img{
    width: 100%;
    height: 300px;
}

.meal-body{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.meal-body h4{
    padding: 10px;
    margin-right: 5px;
    font-size: 1.5rem;
}

.meal-body .fav-btn{
    margin: 5px 0;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    color: rgb(197, 188, 188);
    background-color: transparent;
    border: none;
}

.meal-body .fav-btn.active{
    color: tomato;
}